In [0]:
                                                    #    Join Operations for Students data

In [0]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
builder. \
config('spark.ui.port', '0'). \
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
getOrCreate()

In [0]:
# Sample data
students = [
    (1, "John", "A", "Computer Sci"),
    (2, "Sarah", "B", "Math"),
    (3, "William", "C", "Physics"),
    (4, "Emma", "A", "Biology"),
    (5, "Olivia", "B", "Chemistry")]

students_df = spark.createDataFrame(students, ["student_id", "name", "grade", "major"])
students_df.show(n=students_df.count(), truncate =False)

+----------+-------+-----+------------+
|student_id|name   |grade|major       |
+----------+-------+-----+------------+
|1         |John   |A    |Computer Sci|
|2         |Sarah  |B    |Math        |
|3         |William|C    |Physics     |
|4         |Emma   |A    |Biology     |
|5         |Olivia |B    |Chemistry   |
+----------+-------+-----+------------+

In [0]:
# Dataset 2: Scholarships
scholarships = [
  (501, 1, "Tech Excellence", 2000),
  (502, 3, "Science Genius Award", 2000),
  (503, 5, "Chemistry Scholars", 2000),
  (504, 6, "Math Stars Program", 2000),
]
# Create a Dataframe with Scholarship data as well
scholarships_df = spark.createDataFrame(scholarships, ["scholarship_id", "student_id", "scholarship_name", "amount"])
scholarships_df.show(n = scholarships_df.count(), truncate =False)

+--------------+----------+--------------------+------+
|scholarship_id|student_id|scholarship_name    |amount|
+--------------+----------+--------------------+------+
|501           |1         |Tech Excellence     |2000  |
|502           |3         |Science Genius Award|2000  |
|503           |5         |Chemistry Scholars  |2000  |
|504           |6         |Math Stars Program  |2000  |
+--------------+----------+--------------------+------+

- > Lets Begin Transformations from here

In [0]:
# Performing inner join 
# (Includes only matching rows from both DataFrames)

inner_join_df = students_df.join(scholarships_df, on = "student_id", how = "inner")
inner_join_df.show()

+----------+-------+-----+------------+--------------+--------------------+------+
|student_id|   name|grade|       major|scholarship_id|    scholarship_name|amount|
+----------+-------+-----+------------+--------------+--------------------+------+
|         1|   John|    A|Computer Sci|           501|     Tech Excellence|  2000|
|         3|William|    C|     Physics|           502|Science Genius Award|  2000|
|         5| Olivia|    B|   Chemistry|           503|  Chemistry Scholars|  2000|
+----------+-------+-----+------------+--------------+--------------------+------+

In [0]:
# Left Outer join
# (Includes all rows from the left dataframe and matching rows from the right)

left_join_df = students_df.join(scholarships_df, on = "student_id", how="left")
left_join_df.show()

+----------+-------+-----+------------+--------------+--------------------+------+
|student_id|   name|grade|       major|scholarship_id|    scholarship_name|amount|
+----------+-------+-----+------------+--------------+--------------------+------+
|         1|   John|    A|Computer Sci|           501|     Tech Excellence|  2000|
|         2|  Sarah|    B|        Math|          null|                null|  null|
|         3|William|    C|     Physics|           502|Science Genius Award|  2000|
|         4|   Emma|    A|     Biology|          null|                null|  null|
|         5| Olivia|    B|   Chemistry|           503|  Chemistry Scholars|  2000|
+----------+-------+-----+------------+--------------+--------------------+------+

In [0]:
# Right Outer Join ()
# (Includes all rows from the right DataFrame and matching rows from the left)
right_join_df = students_df.join(scholarships_df, on = "student_id", how = "right")
right_join_df.show()

+----------+-------+-----+------------+--------------+--------------------+------+
|student_id|   name|grade|       major|scholarship_id|    scholarship_name|amount|
+----------+-------+-----+------------+--------------+--------------------+------+
|         1|   John|    A|Computer Sci|           501|     Tech Excellence|  2000|
|         3|William|    C|     Physics|           502|Science Genius Award|  2000|
|         5| Olivia|    B|   Chemistry|           503|  Chemistry Scholars|  2000|
|         6|   null| null|        null|           504|  Math Stars Program|  2000|
+----------+-------+-----+------------+--------------+--------------------+------+

In [0]:
# Full Outer join
# (Includes all rows from both dataframes with nulls where there are no matches)
full_join_df = students_df.join(scholarships_df,
                                on ="student_id",
                                how = "outer")
full_join_df.show()

+----------+-------+-----+------------+--------------+--------------------+------+
|student_id|   name|grade|       major|scholarship_id|    scholarship_name|amount|
+----------+-------+-----+------------+--------------+--------------------+------+
|         1|   John|    A|Computer Sci|           501|     Tech Excellence|  2000|
|         2|  Sarah|    B|        Math|          null|                null|  null|
|         3|William|    C|     Physics|           502|Science Genius Award|  2000|
|         4|   Emma|    A|     Biology|          null|                null|  null|
|         5| Olivia|    B|   Chemistry|           503|  Chemistry Scholars|  2000|
|         6|   null| null|        null|           504|  Math Stars Program|  2000|
+----------+-------+-----+------------+--------------+--------------------+------+